/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
    background: rgba(110,192,207,1);
    text-shadow: none;
    color: #ffffff;

}

::selection {
    background: rgba(110,192,207,1);
    text-shadow: none;
    color: #ffffff;
}

body {
  background: ;
  font-family: 'tablet-gothic', sans-serif;
  color: #212121;
  border: 20px solid rgba(252,208,0,1);
  line-height: 1.4;
}

button {
  font-family: 'tablet-gothic', sans-serif;
}


@media only screen and (min-width: 35em) {
    .grid_3 {
      width: auto;
      float: none;
    }
}

/* Structural */

.container {
  width: 960px;
  margin: 0 auto;
}

.grid_3_row {
  margin-left: -30px;
}

.grid_3 {
  width: 300px;
  float: left;
  margin-left: 30px
}

div.section {
  margin-top: 5em;
}

  div.section h3 {
    text-align: center;
    font-weight: bold;
  }

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Typography */

h1 {
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1.875em;
  font-weight: 200;
  margin: 0 0 1.5em 0;
}

h4 {

}

em {
  font-weight: 700;
}

span.highlight {
  font-weight: 500;
}

a {
  color: rgba(110,192,207,1);
  text-decoration: none;
}

/* Navigation */

header {
  height: 3em;
  line-height: 3.5em;
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #ddd;
  margin: 1em 0 1em 0;
}

header nav {
  float: right;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

  header nav a {
    color: #333;
    margin-left: 1.85em;
  }

header h1.logo {
  float: left;
}

/* Logo */

h1.logo.small {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

h1.logo.big {
  font-size: 3em;
}

  h1.logo b {
    font-weight: 300;
  }

  h1.logo span {
    color: rgba(110,192,207,1);
  }
  
  span.logo {
    font-weight: 700;
    text-transform: none;    
  }

  span.logo b {
    font-weight: 300;
  }

  span.logo em {
    color: rgba(110,192,207,1);

  }

/* Content */

#main {
  margin-top: 4em;
}

#its-happening {
  text-align: center;
  margin-bottom: 1em;
}
  #its-happening h1 {
    font-weight: 200;
    margin-bottom: 0.15em;
  }

  #its-happening h2 {
    font-weight: 700;
    font-size: 1.5em;
  }

  #its-happening h4 {
    font-weight: 200;
    margin-bottom: 2em;
    font-size: 1.25em;
  }

  #social-buttons {
    width: 351px;
    margin: 0 auto;
  }

  #social-buttons div, #social-buttons iframe{
    margin:0;
    padding: 0;
    float: left;
  }

#btn-get-tickets {
    font-size: 1.5em;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    background: rgba(110,192,207,1);
    padding: 1em 0 0.7em 0;
    vertical-align: middle;
    font-weight: 700;
    width: 17em;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }

#btn-get-tickets:hover {
   -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
   -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
   box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  }

#social-buttons {
  margin-top: 1em;
}

#map {
  background: url(/assets/img/subtlenet2.png);
  height: 250px;
  padding-top: 25px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

  #map iframe {
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px #ddd;
    -moz-box-shadow: 0px 1px 5px #ddd;
    -o-box-shadow: 0px 1px 5px #ddd;
    box-shadow: 0px 1px 5px #ddd;
    padding: 8px;
  }

#schedule table {
  width: 900px;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}

  #schedule table th {
    font-weight: 700;
    font-size: 1.25em;
  }

  #schedule table th, #schedule table td {
    height: 55px;
  }

  #schedule table .time {
    width: 100px;
    font-weight: 700;
  }

  #schedule table .activity {
    width: 320px;
  }

#sponsors {
  margin-top: 3.5em;
}

#sponsors a {
  float: left;
  display: block;
  outline: none;
  border: none;
  width: 220px;
  height: 120px;
  margin: 0px 9px 90px 9px;
  overflow: hidden;
  text-align: center;
}

#faq p.question {
  font-size: 1.5em;
  font-weight: 200;
}

#faq p.answer {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eee;
}

#team {
  margin-bottom: 5em;
  margin-top: 4em;
}

#team .members {
  width: 846px;
  margin: 0 auto;
  position: relative;
}

#team .member {
  float: left;
  width: 250px;
  height: 320px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 5px #ddd;
  -moz-box-shadow: 0px 1px 5px #ddd;
  -o-box-shadow: 0px 1px 5px #ddd;
  box-shadow: 0px 1px 5px #ddd;
  margin: 0 15px 0 15px;
}
  
  #team .member .img {
    margin: 10px;
    width: 230px;
    height: 240px;
    overflow: hidden;
  }

  #team .member .contact {
    text-align: center;
  }  

   #team .member .contact h4 {
    font-weight: 700;
  }

#prizes .prize {
  float: left;
  width: 250px;
  height: 7.5em;
  margin: 0 35px 35px 35px;
  text-align: center;
}

  #prizes .prize h4 {
    font-weight: 700;
    font-size: 1.25em;
  }

   #prizes .prize h5 {
    font-weight: 200;
    font-style: italic;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px dashed #ddd;
  }

/* Footer */

footer {
  border-top: 1px solid #dddddc;
  padding: 3em 0;
}
  footer img {
    margin: 0 auto;
    display: block;
  }

  footer p {
    padding: 0 6em;
    font-size: 1em;
    text-transform: uppercase;
    color: #ababab;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1em;
    font-weight: 300;
  }