/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}#
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


::-moz-selection {
    background: rgba(110,192,207,1);
    text-shadow: none;
    color: #ffffff;

}

::selection {
    background: rgba(110,192,207,1);
    text-shadow: none;
    color: #ffffff;
}

body{
  background: ;
  font-family: 'tablet-gothic', sans-serif;
  color: #212121;
  border:20px solid rgba(252,208,0,1);
  padding: 60px;
  line-height: 1.4;
}

button {
  font-family: 'tablet-gothic', sans-serif;
}


@media only screen and (min-width: 35em) {
    .grid_3 {
      width: auto;
      float: none;
    }
}


/* Structural */
.container {
  width: 960px;
  margin: 0 auto;
}

.grid_3_row {
  margin-left: -30px;
}

.grid_3 {
  width: 300px;
  float: left;
  margin-left: 30px
}

/* Typography */


h3 {
  font-size: 1.875em;
  font-weight: 200;
  text-align: center;
  margin: 0 0 1.5em 0;
}

h6 {
  font-size: 1.25em;
  font-weight: 200;
  text-align: center;
  margin: 0 0 1.5em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

em {
  font-weight: 700;
}
span.highlight {
  font-weight: 500;
}

a {
  color: rgba(110,192,207,1);
  text-decoration: none;
}


/* Main nav */
nav#main_nav {  
  border-bottom:1px solid #dddddc;
}
  
  

  nav#main_nav ul {
    width: 27em;
    margin: 0 auto;
  }

  nav#main_nav li {
    float: left;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #ababab;
    letter-spacing: 1px;
    padding: 0.75em 2em 0.5em 2em;
    margin: 0em 1em 1em 1em;
    display: block;
    line-height: 0.5;
  }
  
  nav#main_nav a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #ababab;
    letter-spacing: 1px;
    padding: 0.75em 2em 0.5em 2em;
    margin: 0em 1em 1em 1em;
    display: block;
    line-height: 0.5;

  }
    nav#main_nav a:hover {
      background:rgba(110,204,207,1);
      color: #ffffff;
      border-radius: 20px
      }



/* Header */
header{

}

img.brand_icons {
    margin: 0 auto 0.5em auto;
    display: block;
  }

h1.logo {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  margin: 1em 0 0 0;
}
  h1.logo b {
    font-weight: 300;
  }

  h1.logo span {
    color: rgba(110,192,207,1);

  }

  h1.logo date {
  }  
  
  span.logo {
    font-weight: 700;
    text-transform: none;    
  }

  span.logo b {
    font-weight: 300;
  }


  span.logo em {
    color: rgba(110,192,207,1);

  }


h2.manifesto {
  font-size: 1.875em;
  font-weight: 200;
  text-align: center;
  width: 28em;
  margin: 0em auto 1.875em auto;
}
  h2 i {
    font-style: italic;
  }

h2.hyk-title {
  font-size: 1.875em;
  font-weight: 200;
  text-align: center;
  width: 28em;
  margin: 0.2em auto 0.5em auto;
}

#more_info {
  text-align: center;
  display: block;
  font-size: 1.25em;
  margin-bottom: 2em;
}

/* CTA */
#cta {
  padding: 3em 2em;
  border: 1px solid #dddddc;
  border-bottom: none;
}

  #cta p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 700;
  }

  #cta button {
    font-size: 1em;
    border-radius: 5px;
    border:none;
    color:#ffffff;
    line-height: 1;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    margin-left: 1em;
    background:rgba(110,192,207,1);
    padding: 0;
    vertical-align: middle;
  }

    #cta button b {
      background:rgba(96,168,181,1);
      padding: 0.5em 1em 0.3em 1em;
      font-weight: 700;
      float: left;
      line-height: 1;
    }

    #cta button p {
      float:left;
      font-size: 1em;
      padding: 0.5em 1em 0.3em 0.5em;
      margin: 0;
      font-weight: normal;
    }

  #cta button:hover {
     -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
     -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
     box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    }

   #cta button.disabled {
     padding: 0.5em 1em 0.3em 0.5em;
     cursor: default;
     background:rgba(126,194,206,1);
   } 

  #cta button.disabled:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

/*Explanation*/
#explanation {
   padding: 4em 2.5em 0em 2.5em;
}

#explanation h3 {
  font-size: 2em;
}

#explanation p{
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  margin: 0em auto 1.875em auto;
  padding: 0 2em;
}

/* Hackathon Series */
#description {
   padding: 0 2em 2em 2em;
}

#description h3 {
  font-size: 2em;
}

#description p {
  font-size: 1.25em;
  font-weight: 200;
  margin: 0em auto 1em auto;
  padding: 0 2em;
}

#description em {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

  #description #quote {
    position: relative;
    color: #888;
    font-style: italic;
    margin-top: 3em;
    margin-bottom: 4em;
  }

    #description #quote p.teller {
      font-style: normal;
      font-weight: 500;
    }

  #description #videos {
    position: relative;
    margin: 0 auto;
    width: 800px;
  }

.fb-secondary {
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

/* Supporter */
#supporters {
  padding: 0em 2em 3em 2em; 
  border: 1px solid #dddddc;
  border-top: none; 
}
  
  #supporters h4 {
    text-align: center;
    border-top: 1px dashed #dddddc;
    padding: 2em 0 1em 0;
    font-weight: 300;
    font-size: 1.25em;
  }

  #supporters ul {
    margin-left: -1em;
  }

  .supporter {
    border:2px solid #ffffff;
    float: left;
    width: 68px;
    height: 68px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    margin-left: 1em;
    border-radius: 200px;
    margin-bottom: 0.5em;
    background: #ffffff;
  }
    .supporter a {
      display: block;
    
    }

    .supporter img {
    width: 70px;
    height: 70px;
    }

/* Details */

#details {
  padding: 3em 0 4em 0;
}

  .detail h5 {
    font-weight: 300;
    text-align: center;
    color: #ababab;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 1px;
    margin: 0 0 1.5em 0;
  }

  .detail h4 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.3;
    margin: 0.75em 0 0.5em 0;
    text-align: center;
  }

/* Sponsors */
#sponsors {
  border-top:1px solid #dddddc;
  padding: 3em 2em 3em 2em; 
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#counter {
  font-size: 1.25em;
}

#cta #dont-worry {
  color: #666;
  font-weight: normal;
  padding-top: 1em;
  font-size: 0.875em;
}

/* Footer */


footer {
  border-top: 1px solid #dddddc;
  padding: 3em 0;
}
  footer img {
    margin: 0 auto;
    display: block;
  }

  footer p {
    padding: 0 6em;
    font-size: 1em;
    text-transform: uppercase;
    color: #ababab;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1em;
    font-weight: 300;
  }