<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>hack{cyprus}*12</title>
    <meta name="description" content="In short, the first ever weekend hackathon in Cyprus.">

    <link rel="stylesheet" href="{{ page.root }}assets/css/hc.css">

    <script type="text/javascript" src="http://use.typekit.com/ebv1rod.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  
  <body>

  <!--
       _   _            _       ____                             ____   ___  _ ____  
      | | | | __ _  ___| | __  / ___|   _ _ __  _ __ _   _ ___  |___ \ / _ \/ |___ \ 
      | |_| |/ _` |/ __| |/ / | |  | | | | '_ \| '__| | | / __|   __) | | | | | __) |
      |  _  | (_| | (__|   <  | |__| |_| | |_) | |  | |_| \__ \  / __/| |_| | |/ __/ 
      |_| |_|\__,_|\___|_|\_\  \____\__, | .__/|_|   \__,_|___/ |_____|\___/|_|_____|
                                    |___/|_|                                         
  -->

    <header>

      <div class="container">

        
        <h1 class="logo">hack{<b>cyprus</b>}<span>*</span><date>12</date></h1>
        <h2 class="hyk-title">Know your hackathons: <em>{{ page.title }}</em></h2>
        <img src="{{ page.root }}assets/img/allicons.gif" class="brand_icons"/>

      </div>

    </header>
 
    <div id="main" role="main">
        <div id="description" class="container">
          {{content}}
        </div>
    </div>

    <footer id="footer">
      <a href="https://www.facebook.com/CypriotEnterpriseLink" target="_blank">
      <img src="{{ page.root }}assets/img/cel.gif"  width="200"/>
      </a>
    </footer>

  </body>

</html>